<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amazing!</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form id="note-form">
    <input type="text" id="title" placeholder="Type your title">
    <textarea id="body" cols="30" rows="10" placeholder="Type your body"></textarea>
    <button>Submit</button>
  </form>

  <h3>Notes</h3>

  <div id="notes"></div>
  
  <button id="btn">Show Notes</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/front.js"></script>
</body>
</html>